.main{
	margin: 100px 100px;
	position: relative;
	height: 200px;
	width: 300px;
	color: white;
}
.box{
	position: absolute;
	margin-left: 30px;
	margin-top: 0px;
	height: auto;
	width: auto;
	background: black;
}
.s3{
	margin-top:20px; 
	position: absolute;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 30px 46px 30px 0px;
	border-color: transparent black transparent transparent;
}
p{
	padding: 10px;
}
.box_1{
	position: absolute;
	left:600px;

	height: 500px;
	padding: 20px;
	background: white;
	text-align: justify;
	z-index: -1;
}
.box_1:after{
	content: "\a";
	position: relative;
	margin-left: -35px;
	display: block;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 30px 46px 30px 0px;
	border-color: transparent black transparent transparent;
}

