*{
	margin: 0px;
	padding: 0px;
}

.container{
	background: silver;
}
.status_bar{
	background: yellow;
	height: 30px;
}
.menu{
	background: blue;
	height: 30px;
}
.left_panel{
	background: brown;
	height: 500px;
}
.right_panel{
	background: red;
	height: 500px;
}
.footer{
	background: pink;
	height: 40px;
}
.videos_up{
	background: white;
}
.videos_up div:first-child{
	height: 300px;
	background: grey;
	margin-left: 5px;
}
.videos_up div:nth-child(2), .videos_up div:nth-child(3) {
	height: 150px;
	background: orange;
	margin-left: 10px;
}
.videos_down div{
	height: 150px;
	background: black;
	
}